//-
    name: navbar-search
    description: Markup for the navigation bar search block.

mixin navbar-search()
    form(method="GET" action="#").navbar-search&attributes(attributes)
        input(
            type="text"
            name="s"
            placeholder="Enter your keyword..."
        ).input.input_theme_light
