/**
 * Styles for the page block
 */
 .page {
    // Selector styles
    color: $color-gray;
    font-family: $font-family-default;
    font-size: 1rem;
    font-weight: $font-weight-regular;
    line-height: $line-height-default;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__skip-link {
        left: 50%;
        position: fixed;
        top: 0;
        z-index: 200;

        transform: translate(-50%, -100%);

        &:focus {
            transform: translate(-50%, 0);
        }
    }

    &__inner {
        @include container();
    }

    // BEM modifiers
    // TODO: add code
}
