/**
 * Styles for the main menu block.
 */
.main-menu {
    // Selector styles

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__list {
        @include breakpoint-up(lg) {
            display: flex;
        }
    }

    &__item {
        position: relative;

        &:not(:last-child) {   
            &:after {
                @include breakpoint-down(md) {
                    content: "";
        
                    left: 0;
                    position: absolute;
                    right: 0;
        
                    display: block;
                    height: 1px;
        
                    background: rgba($color-white, 0.15);
                }
            }
        }
    }

    &__link {
        display: block;
        padding: 14px 0;

        color: $color-white;
        font-family: $font-family-title;
        @include font-size(14px);
        font-weight: $font-weight-extra-bold;
        text-decoration: none;
        text-transform: uppercase;

        transition: color 0.2s linear;

        @include breakpoint-up(lg) {
            padding: 23px 22px;

            @include font-size(16px);
        }

        &:hover,
        &:focus {
            color: $color-secondary;
        }

        .main-menu__item:first-child > & {
            @include breakpoint-up(lg) {
                padding-left: 0;
            }
        }
    }

    &__arrow {
        right: 0;
        position: absolute;
        top: 8px;

        @include font-size(20px);

        @include breakpoint-up(lg) {
            display: none;
        }
    }

    &__submenu {
        display: none;
        padding-bottom: 10px;

        @include breakpoint-up(lg) {
            left: 0;
            position: absolute;
            top: 100%;

            display: block;
            min-width: 270px;
            padding-bottom: 0;
            padding-top: 5px;

            opacity: 0;
            visibility: hidden;

            transition: opacity 0.2s ease-out,
                        visibility 0.2s step-start 0.2s;
        }

        &_expanded,
        .main-menu__item:hover > & {
            @include breakpoint-up(lg) {
                opacity: 1;

                transition-delay: 0s;
                visibility: visible;
            }
        }
    }

    &__sub-list {
        padding-left: 20px;

        @include breakpoint-up(lg) {
            padding: 10px 0;

            background: $color-chathams-blue;
        }
    }

    &__sub-item:not(:last-child) {
        @include breakpoint-up(lg) {
            position: relative;

            &:after {
                content: "";

                left: 30px;
                position: absolute;
                right: 30px;

                display: block;
                height: 1px;

                background: rgba($color-white, 0.15);
            }
        }
    }

    &__sub-link {
        display: block;
        padding: 10px 0;

        color: $color-white;
        font-family: $font-family-title;
        @include font-size(14px);
        font-weight: $font-weight-extra-bold;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;

        transition: color 0.2s linear;

        @include breakpoint-up(lg) {
            padding: 16px 30px;
        }

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }

    // Bem modifiers
    // TODO: add code
}
