/**
 * Styles for the main menu block.
 */
.main-menu {
    // Selector styles

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__list {
        @include breakpoint-up(lg) {
            display: flex;
        }
    }

    &__item {
        position: relative;

        &:not(:last-child) {   
            &:after {
                content: "";
        
                left: 0;
                position: absolute;
                right: 0;
    
                display: block;
                height: 1px;
    
                background: rgba($color-white, 0.15);
                
                @include breakpoint-up(lg) {
                    display: none;
                }
            }
        }
    }

    &__link {
        display: block;
        padding: 1em 0;

        color: $color-white;
        font-family: $font-family-title;
        font-size: 0.875rem;
        font-weight: $font-weight-extra-bold;
        text-decoration: none;
        text-transform: uppercase;

        transition: color 0.2s linear;

        @include breakpoint-up(lg) {
            padding: 1.375em;

            font-size: 1rem;
        }

        &:hover,
        &:focus {
            color: $color-secondary;
        }

        .main-menu__item:first-child > & {
            @include breakpoint-up(lg) {
                padding-left: 0;
            }
        }
    }

    &__arrow {
        right: 0;
        position: absolute;
        top: 0.4em;

        font-size: 1.25rem;

        @include breakpoint-up(lg) {
            display: none;
        }
    }

    &__submenu {
        display: none;
        padding-bottom: 0.625em;

        @include breakpoint-up(lg) {
            left: 0;
            position: absolute;
            top: 100%;

            display: block;
            min-width: 16.875em;
            padding-bottom: 0;
            padding-top: 0.3125em;

            opacity: 0;
            visibility: hidden;

            transition: opacity 0.2s ease-out,
                        visibility 0.2s step-start 0.2s;
        }

        &_expanded,
        .main-menu__item:hover > & {
            @include breakpoint-up(lg) {
                opacity: 1;

                transition-delay: 0s;
                visibility: visible;
            }
        }
    }

    &__sub-list {
        padding-left: 1.25em;

        @include breakpoint-up(lg) {
            padding: 0.625em 0;

            background: $color-chathams-blue;
        }
    }

    &__sub-item:not(:last-child) {
        @include breakpoint-up(lg) {
            position: relative;

            &:after {
                content: "";

                left: 1.875em;
                position: absolute;
                right: 1.875em;

                display: block;
                height: 1px;

                background: rgba($color-white, 0.15);
            }
        }
    }

    &__sub-link {
        display: block;
        padding: 0.7em 0;

        color: $color-white;
        font-family: $font-family-title;
        font-size: 0.875rem;
        font-weight: $font-weight-extra-bold;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;

        transition: color 0.2s linear;

        @include breakpoint-up(lg) {
            padding: 1.2em 2.2em;
        }

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }

    // BEM modifiers
    // TODO: add code
}
