/**
 * Styles for the header block.
 */
.header {
    // Selector styles
    box-shadow: 0 2px 5px rgba($color-black, 0.1);

    // @media queries
    @include breakpoint-up(lg) {
        box-shadow: none;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__top-inner {
        align-items: center;
        display: flex;
        padding-bottom: 24px;
        padding-top: 24px;

        @include breakpoint-up(lg) {
            padding-bottom: 36px;
            padding-top: 36px;
        }

        @include breakpoint-up(xl) {
            padding-bottom: 40px;
            padding-top: 40px;
        }
    }

    &__logo {
        flex: 1 1;
        margin-right: 30px;
        max-width: 200px;

        @include breakpoint-up(lg) {
            max-width: 260px;
        }
    }

    &__contacts {
        margin-left: auto;
    }

    &__social {
        margin-left: 30px;
    }

    &__navbar-toggle {
        margin-left: auto;
        padding: 2px;

        @include font-size(24px);

        background: transparent;
        border: 0;
        cursor: pointer;

        @include breakpoint-up(lg) {
            display: none;
        }
    }

    // Bem modifiers
    // TODO: add code
}
