//-
    name: header
    description: Markup for the header block
    arguments:
        - {object} data - block data
        - {object} data.banner - banner data
        - {object} data.logo - logo data
        - {object} data.contacts - contacts data
        - {object} data.social - social links data
        - {array} mainMenu - main menu data
        - {array} langMenu - language menu

mixin header(data = {})
    header.header&attributes(attributes)
        if data.banner
            +top-banner(data.banner)

        .header__top#header-top
            .header__top-inner.page__container
                +logo({
                    img: data.logo.img,
                    alt: data.logo.alt,
                    isHeading: data.isHomepage && !data.banner,
                }).header__logo
                +top-contacts(data.contacts).header__contacts
                +top-social(data.social).header__social
            // .header__top-inner 
        // .header__top 

        .header__navbar
            .header__navbar-inner.page__container
                +main-menu(data.mainMenu)
                +header-search().header__search
                +lang-menu(data.langMenu).header__lang-menu
                +btn({ url: 'javascript:void(0);' }).header__order-btn
                    | Request a Rate
            // .header__navbar 
        // .header__navbar 
