//-
    name: header
    description: Markup for the header block
    arguments:
        - {object} data - block data
        - {object} data.banner - banner data
        - {object} data.logo - logo data
        - {object} data.contacts - contacts data
        - {object} data.social - social links data
        - {array} data.mainMenu - main menu data
        - {array} data.langMenu - language menu

mixin header(data = {})
    header.header&attributes(attributes)
        if data.banner
            +top-banner(data.banner)

        .header__top#header-top
            .header__top-inner.page__container
                +logo({
                    img: data.logo.img,
                    alt: data.logo.alt,
                    isHeading: data.isHomepage && !data.banner,
                }).header__logo
                +top-contacts(data.contacts).header__contacts
                +top-social(data.social).header__social
                button(
                    aria-expanded="false"
                    aria-haspopup="true"
                    aria-label="Open menu"
                    aria-controls="navbar"
                ).header__navbar-toggle
                    i.zmdi.zmdi-menu(aria-hidden="true")
            // .header__top-inner 
        // .header__top 

        +navbar({
            mainMenu: data.mainMenu,
            langMenu: data.langMenu
        })#navbar
