/**
 * Styles for the top-social block.
 */
.top-social {
    // Selector styles
    display: none;

    font-size: 1.375rem;

    // @media queries
    @include breakpoint-up(lg) {
        display: flex;
    }

    @include breakpoint-up(xl) {
        font-size: 1.5rem;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__item {
        &:last-child {
            margin-right: -0.5em;
        }
    }

    &__link {
        display: block;
        padding: 0.5em;

        color: $color-primary;
        text-decoration: none;

        transition: color 0.2s linear;

        &:hover {
            color: $color-secondary;
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 0.15em rgba($color-secondary, .6)
        }
    }

    // BEM modifiers
    // TODO: add code
}
