/**
 * Styles for the top-contacts block.
 */
.top-contacts {
    // Selector styles
    display: none;

    // @media queries
    @include breakpoint-up(lg) {
        display: flex;
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__item {
        align-items: center;
        display: flex;

        &:after {
            content: "";

            display: block;
            height: 2.25em;
            margin-left: 1.125em;

            border-right: 1px solid $color-alto;

            @include breakpoint-up(xl) {
                margin-left: 1.875em;
            }
        }

        &:not(:first-child) {
            margin-left: 1.125em;

            @include breakpoint-up(xl) {
                margin-left: 1.875em;
            }
        }
    }

    &__icon {
        color: $color-regular-blue;
        font-size: 2rem;
        line-height: 1;

        @include breakpoint-up(xl) {
            font-size: 2.5rem;
        }
    }

    &__info {
        margin-left: 1em;

        font-family: $font-family-title;
        font-size: 0.875rem;
        line-height: 1.6;
    }

    &__title {
        display: block;

        font-weight: $font-weight-extra-bold;
        text-transform: uppercase;
    }

    &__value {
        display: block;

        color: $color-gray;
        font-weight: $font-weight-medium;

        &_link {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            .focus-utility &:focus {
                box-shadow: 0 0 0 0.2em rgba($color-secondary, 0.7);
            }
        }
    }

    // BEM modifiers
    // TODO: add code
}
