/**
 * Styles for the logo block.
 */
.logo {
    // Selector styles
    display: block;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__img {
        display: block;
        width: 100%;
    }

    // Bem modifiers
    // TODO: add code
}
