//-
    name: icon
    description: Markup for the icon block.
    arguments:
        - {string} name - Icon name.
        - {string} title - Optional title (for accessibility purposes).

mixin icon(name, title)
    svg(class=`icon icon_${name}`)&attributes(attributes)
        if title
            title= title
        use(xlink:href=`img/icons.svg#${name}`)
