/**
 * Styles for the navigation bar item block.
 */
.navbar-item {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__link {
        display: block;
        height: 100%;
        padding: 0;
        width: 100%;

        color: $color-white;
        
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;

        transition: color 0.2s linear;

        &:hover {
            color: $color-secondary;
        }

        .focus-utility &:focus {
            box-shadow: 0 0 0 2px $color-secondary;

            @include breakpoint-up(lg) {
                box-shadow: inset 0 0 0 2px $color-secondary;
            }
        }
    }

    &__icon {
        position: relative;
        top: 0.125em;

        display: inline-block;

        font-size: 1.25rem;

        @include breakpoint-up(lg) {
            top: 0;

            padding: 0 0.75em;
        }
    }

    &__title {
        display: inline-block;
        padding: 1em 0;

        font-family: $font-family-title;
        font-size: 0.875rem;
        font-weight: $font-weight-extra-bold;

        @include breakpoint-up(lg) {
            padding: 1.375em;

            font-size: 1rem;
        }

        .navbar-item__icon + & {
            margin-left: 0.75em;

            @include breakpoint-up(lg) {
                display: none;
            }
        }
    }

    // BEM modifiers
    &_first {
        .navbar-item__title {
            @include breakpoint-up(lg) {
                padding-left: 0;
            }
        }
    }
}
