//-
    name: btn
    description: Markup for the button block.
    arguments:
        - {object} props - Block properties.
        - {string} props.url - Target URL (optional).
        - {string} props.theme - Appearance theme.

mixin btn(props = {})
    -
        const btnClass = {
            btn: true,
            [`btn_theme_${props.theme || 'primary'}`]: true,
        }
    if props.url
        a(class=btnClass, href=props.url)&attributes(attributes)
            if block
                block
    else
        button(class=btnClass)&attributes(attributes)
            if block
                block
