//-
    name: btn
    description: Markup for the button block
    arguments:
        - {object} data - block data
        - {string} data.url - target URL (optional)

mixin btn(data = {})
    if data.url
        a(href=data.url).btn&attributes(attributes)
            if block
                block
    else
        button.btn&attributes(attributes)
            if block
                block
