//-
    name: btn
    description: Markup for the button block.
    arguments:
        - {object} props - Block properties.
        - {string} props.url - Target URL (optional).

mixin btn(props = {})
    if props.url
        a(href=props.url).btn&attributes(attributes)
            if block
                block
    else
        button.btn&attributes(attributes)
            if block
                block
