//-
    name: navbar
    description: Markup for the navbar block.
    arguments:
        - {object} props - Block properties.
        - {array} props.mainMenu - Main menu properties.
        - {array} props.langMenu - Language menu properties.

mixin navbar(props)
    .navbar&attributes(attributes)
        .navbar__dimmer(aria-hidden="true")

        .navbar__container
            .page__container
                .navbar__inner
                    +main-menu({ items: props.mainMenu }).navbar__menu

                    +header-search().navbar__search

                    +lang-menu({ items: props.langMenu }).navbar__lang-menu

                    +btn({ url: 'javascript:void(0);' }).navbar__order-btn
                        | Request a Rate

                    button.navbar__close-btn(aria-label="Close menu")
                        i.zmdi.zmdi-close-circle-o(aria-hidden="true")
