//-
    name: top-contacts
    description: Markup for the top contacts block.
    arguments:
        - {object} props - Block properties.
        - {string} props.phone - Phone number.
        - {string} props.openingTime - Opening hours.
        - {string} props.email - Email.

mixin top-contacts(props = {})
    ul.top-contacts&attributes(attributes)
        if props.phone
            li.top-contacts__item
                .top-contacts__icon(aria-hidden="true")
                    i.zmdi.zmdi-phone
                .top-contacts__info
                    span.top-contacts__title Call us anytime
                    a(
                        href=`tel:${props.phone}`
                    ).top-contacts__value.top-contacts__value_link= props.phone

        if props.openingTime
            li.top-contacts__item
                .top-contacts__icon(aria-hidden="true")
                    i.zmdi.zmdi-time
                .top-contacts__info
                    span.top-contacts__title Opening time
                    span.top-contacts__value= props.openingTime

        if props.email
            li.top-contacts__item
                .top-contacts__icon(aria-hidden="true")
                    i.zmdi.zmdi-email
                .top-contacts__info
                    span.top-contacts__title Contact us
                    a(
                        href=`mailto:${props.email}`
                    ).top-contacts__value.top-contacts__value_link= props.email
