/**
 * Styles for the input block.
 */
.input {
    // Selector styles
    display: block;
    height: 48px;
    padding: 0 16px;
    width: 100%;

    color: $color-white;
    font-family: $font-family-regular;
    @include font-size(14px);

    background: $color-mine-shaft;
    background-clip: padding-box;
    border: 1px solid rgba($color-white, 0.15);

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    &::placeholder {
        color: $color-white;

        opacity: 0.5;
    }

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
}
