include ../../blocks/common/header/header.pug
include ../../blocks/common/top-banner/top-banner.pug
include ../../blocks/common/logo/logo.pug
include ../../blocks/common/top-contacts/top-contacts.pug
include ../../blocks/common/top-social/top-social.pug
include ../../blocks/common/icon/icon.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        if data.pageTitle
            title #{data.pageTitle} | #{data.siteTitle}
        else
            title #{data.siteTitle} &#8211; #{data.siteTagline}

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:500,800%7CRoboto")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
        link(rel="stylesheet", href="css/style.css")
    body.page
        +header(data.header)

        block page

        block scripts
            script(src="js/vendor.js")
            script(src="js/main.js")
