/**
 * Styles for the navigation bar dropdown block.
 */
.navbar-dropdown {
    // Selector styles
    position: relative;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__toggle {
        display: block;
        height: 100%;
        padding: 0;
        width: 100%;

        text-align: left;

        background: transparent;
        border: 0;
        cursor: pointer;

        .navbar-dropdown_desktop-only > & {
            display: none;

            @include breakpoint-up(lg) {
                display: block;
            }
        }
    }

    &__arrow {
        right: 0;
        position: absolute;
        top: 0.4em;

        font-size: 1.25rem;

        @include breakpoint-up(lg) {
            display: none;
        }

        .navbar-item_expanded & {
            transform: rotate(-180deg);
        }
    }

    &__popup {
        display: none;

        overflow: hidden;

        transition: max-height 0.2s linear;

        @include breakpoint-up(lg) {
            left: 0;
            position: absolute;
            top: 100%;

            display: block;
            min-width: 16.875em;
            padding-top: 0.3125em;

            opacity: 0;
            visibility: hidden;

            transition: opacity 0.15s ease-out,
                        visibility 0.15s step-start 0.15s;
        }

        .navbar-dropdown_last > & {
            @include breakpoint-up(lg) {
                left: auto;
                right: 0;
            }
        }

        .navbar-dropdown_desktop-only > & {
            display: block;
        }

        .navbar-dropdown_expanded > & {
            display: block;
        }

        .navbar-dropdown_expanded > &,
        .navbar-dropdown:hover > & {
            @include breakpoint-up(lg) {
                opacity: 1;

                transition-delay: 0s;
                visibility: visible;
            }
        }
    }

    &__popup-inner {
        padding-top: 2px;
        padding-bottom: 0.625em;

        @include breakpoint-up(lg) {
            padding: 0.625em;

            background: $color-chathams-blue;
        }
    }

    // BEM modifiers
    // TODO: add code
}
