/**
 * Styles for the skip link block.
 */
.skip-link {
    // Selector styles
    display: block;
    padding: 0.75em 1.25em;

    color: $color-white;
    text-decoration: none;

    background: $color-primary;
    border: 2px solid $color-secondary;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code
}
