/**
 * Styles for the header block.
 */
.header {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    &__top {
        background: $color-white;
        box-shadow: 0 0.125em 0.3125em rgba($color-black, 0.1);

        @include breakpoint-up(lg) {
            box-shadow: none;
        }
    }

    &__top-inner {
        @include container();

        align-items: center;
        display: flex;
        padding-bottom: 0.25em;
        padding-top: 0.25em;

        @include breakpoint-up(md) {
            padding-bottom: 0.5em;
            padding-top: 0.5em;
        }

        @include breakpoint-up(lg) {
            padding-bottom: 1.75em;
            padding-top: 1.75em;
        }

        @include breakpoint-up(xl) {
            padding-bottom: 2em;
            padding-top: 2em;
        }
    }

    &__logo {
        flex: 1 1 auto;
        margin-right: 1.875em;
        max-width: 9.5em;

        @include breakpoint-up(md) {
            max-width: 12em;
        }

        @include breakpoint-up(lg) {
            max-width: 16.25em;
        }
    }

    &__contacts {
        margin-left: auto;
    }

    &__social {
        display: none;

        @include breakpoint-up(lg) {
            display: block;
            margin-left: 1em;
        }

        @include breakpoint-up(xl) {
            margin-left: 1.875em;
        }
    }

    &__navbar-toggle {
        margin-left: auto;
        padding: 0.1em;

        font-size: 1.5rem;

        background: transparent;
        border: 0;
        cursor: pointer;

        @include breakpoint-up(lg) {
            display: none;
        }

        .focus-utility &:focus {
            outline: 2px solid $color-secondary;
        }
    }

    // BEM modifiers
    &_scroll {
        > .header__top {
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 100;

            @include breakpoint-up(lg) {
                position: static;
            }
        }

        > .header__navbar {
            @include breakpoint-up(lg) {
                left: 0;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 100;
            }
        }
    }

    &_animated {
        > .header__top {
            transition: transform 0.25s linear;

            @include breakpoint-up(lg) {
                transition: none;
            }
        }

        > .header__navbar {
            @include breakpoint-up(lg) {
                transition: transform 0.25s linear;
            }
        }
    }

    /* Don't show the header until scrolled to a certain position */
    &_hidden {
        > .header__top {
            transform: translateY(-100%);

            @include breakpoint-up(lg) {
                transform: none;
            }
        }

        > .header__navbar {
            @include breakpoint-up(lg) {
                transform: translateY(-100%);
            }
        }
    }
}
